<body>
<div id="content" class="row-center">
<div id="chat-box" class="row-center">

</div>
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
</head>
<div id="input-box">
 <input class="chat-input" id="chat-input"  ></input>
<button class="chat-button" id="send" >发送</button>
</div> 
</div>
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript">
window.socket = new WebSocket("ws://127.0.0.1:10087/ws");
//监听netty服务器消息并打印到页面上
socket.onmessage = function(event) {
      var datas=event.data.split(",");
      alert("服务器消息===="+datas);
     
      }
//将发送人接收人的id和要发生的消息发送出去
$(document).ready(function(){
  $("#send").click(function(){
	  
	 　socket.send($("#chat-input").val());
  });
}); 
</script>

</body>
